body{
    background-color:rgb(243, 235, 237);
}
table{
    margin:110px 50px 30px 500px;
    background-color: pink;
    
}
table,td {
        border: 3px solid grey;
        text-align: center;
     }
td{
    height:60px;
    width:60px;
    
}
#calc{
 width: 250px;
border: 3px solid grey;
border-radius: 3px;
padding: 20px;
margin: auto;
}
button{
    font-size:20px;
    height:60px;
    width:60px;
}



.button1 {font-size: 20px;}
.button2 {font-size: 20px;}
.button3 {font-size: 20px;}
.button4 {font-size: 20px;}
.button5 {font-size: 20px;}
.button6 {color:green; width:300px;}
